<body>
<div class="container" >
  <div class="row"  fxLayout="row" fxLayoutAlign="space-around center">
    <mat-card  fxFlex="30"  class="card" >
      <mat-card-title class="title " fxLayout="column">
        <h1>
          <strong> Sign in</strong>
        </h1>
      </mat-card-title>

      <mat-card-content>
        <!-- Form -->
        <form class="text-center" [formGroup]="LoginForm" (ngSubmit)="onSubmit()" >

          <!-- Email -->
          <mat-form-field appearance="outline" fxLayout="column" class="mat-form-field">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" formControlName="username" required>
            <mat-error *ngIf="LoginForm.controls.username.touched && LoginForm.controls.username.invalid">
              <span *ngIf="LoginForm.controls.username.errors.required">Ce champ est obligatoire.</span>
              <span *ngIf="LoginForm.controls.username.errors">Ce champ est invalide.</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" fxLayout="column">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" type="password" formControlName="password" required>
            <mat-error *ngIf="LoginForm.controls.password.touched && LoginForm.controls.password.invalid">
              <span *ngIf="LoginForm.controls.password.errors.required">Ce champ est obligatoire.</span>
            </mat-error>
          </mat-form-field>
          <div fxLayout="row" fxLayoutAlign="space-around center">
            <mat-card-actions>
              <button mat-raised-button  color="primary" class="mat-button"   style="width: 150px;" >Sign in</button>
            </mat-card-actions>
          </div>


        </form>
        <!-- Form -->

      </mat-card-content>

    </mat-card>
  </div>
</div>

</body>
