<body>
<div class="container">
  <div class="row">
    <mat-card  fxFlex="60"  class="card" >
      <mat-card-title class="title " fxLayout="column">
        <h1>
          <strong> Sign in</strong>
        </h1>
      </mat-card-title>

      <mat-card-content>
        <!-- Form -->
        <form class="text-center  " style=" margin-top: 20px;">

          <!-- Email -->
          <mat-form-field appearance="outline" fxLayout="column" >
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username">
          </mat-form-field>
          <mat-form-field appearance="outline" fxLayout="column">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" type="password">
          </mat-form-field>
          <mat-card-actions>
            <button mat-stroked-button  color="primary" class="mat-button" routerLink="/header" >Sign in</button>
          </mat-card-actions>

        </form>
        <!-- Form -->

      </mat-card-content>

    </mat-card>
  </div>
</div>

</body>
