.row
{
  position: relative;
 top: 150px;
 margin-left: 5%;

}
.title {
 /* color: white;
  background-color: #29b6f6;*/
 //position: relative;
  width: auto;
  /*background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);*/
}
//.mat-button
//{
//  color: white;
//  outline: none;
//  width: 10px;
//  background-color: #6200ea;
// // border-color: #6200ea;
//
//}
.title,h3
{
  padding-top: 2%;
  text-align: center;
}
body
{
  //background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  //background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  //background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
  
}

//::ng-deep .mat-button
//{
//  width: 30%;
//  left: 2%;
//  margin-top: 10px;
//  border-radius: 5px;
//}
.card
{
  box-shadow: 2px 2px 20px grey;
}
