<div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 5%;">
  <mat-card fxFlex="80" style=" background-color: #1de9b6">
    <mat-horizontal-stepper #stepper>
      <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Remplissez les informations de la promo</ng-template>
<!--          <mat-form-field>-->
<!--&lt;!&ndash;            <mat-label></mat-label>&ndash;&gt;-->
<!--            <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>-->
          <div fxLayout="row" fxLayoutAlign="start" >
                <div fxLayout="column" fxLayoutAlign="start start" style=" width: 42%; border-right: solid 1px gray"  >

                      <div fxLayout="row" fxLayoutAlign="space-between center" >
                            <p> Choix de la langue  </p>
                            <mat-form-field appearance="outline">
                              <mat-label>Select an option</mat-label>
                              <mat-select disableRipple>
                                <mat-option value="1">Option 1</mat-option>
                                <mat-option value="2">Option 2</mat-option>
                                <mat-option value="3">Option 3</mat-option>
                              </mat-select>
                            </mat-form-field>
                        </div>


                        <div fxLayout="row" fxLayoutAlign="space-between center">
                         <mat-label>Titre</mat-label>
                          <mat-form-field appearance="outline">
                            <input matInput placeholder="Soyez precis et bref" formControlName="Titre" required>
                          </mat-form-field>
                        </div>
                       <div fxLayout="row" fxLayoutAlign="space-between center">
                         <h4>Description de la promo</h4>
                          <mat-form-field appearance="outline">
                            <mat-label>Description de la promo</mat-label>
                            <input matInput placeholder="Ennoncer une description" formControlName="Description" required>
                          </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                          <p>Lieu de la promo</p>
                          <mat-form-field appearance="outline">
                            <mat-label>Lieu de la promo</mat-label>
                            <input matInput placeholder="Ennoncer une description" formControlName="Lieu" required>
                          </mat-form-field>
                        </div>
                      <div fxLayout="row" fxLayoutAlign="space-between center">
                          <p>Reference Agate</p>
                          <mat-form-field appearance="outline">
                            <mat-label>Reference Agate</mat-label>
                            <input matInput placeholder="bla bla bla" formControlName="AgateRef" required>
                          </mat-form-field>
                        </div>
                  <div fxLayout="row" fxLayoutAlign="space-between center" >
                    <h4> Choix de la fabrique </h4>
                    <mat-form-field appearance="outline">
                      <mat-label>Select an option</mat-label>
                      <mat-select disableRipple>
                        <mat-option value="1">Option 1</mat-option>
                        <mat-option value="2">Option 2</mat-option>
                        <mat-option value="3">Option 3</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>

                <div fxLayout="column" fxLayoutAlign="start start"  style=" margin-left: 10px; ">
                  <div fxLayout="row" fxLayoutAlign="space-around center">
                        <h4>Date de debut</h4>
                        <mat-form-field class="example-full-width" appearance="fill" style="margin-right: 10px">
                          <mat-label>Choose a date</mat-label>
                          <input matInput [matDatepicker]="picker">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
                        </mat-form-field>
                        <h4>Date de fin</h4>
                        <mat-form-field appearance="fill">

                          <input matInput [matDatepicker]="picker1" [formControl]="date">
                          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                          <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>

                  </div>
                  <div fxLayout="row" fxLayoutAlign="space-around center" >
                    <h4>Réferentiel</h4>
                    <mat-form-field appearance="outline">
                      <mat-label>Select an option</mat-label>
                      <mat-select disableRipple>
                        <mat-option value="1">Option 1</mat-option>
                        <mat-option value="2">Option 2</mat-option>
                        <mat-option value="3">Option 3</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="dropZone">
                    <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandle($event.target.files)" />
                    <img src="assets/images/upload-svgrepo-com.svg">
                    <h3>Faites glisser vos fichier ici</h3>
                    <h3>Ou</h3>
                    <label for="fileDropRef">Importez un fichier depuis votre Ordi</label>
                  </div>

                </div>

          </div>

          <div fxLayout="row" fxLayoutAlign="end end" >

            <button mat-stroked-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Fill out your address</ng-template>
          <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="secondCtrl"
                   required>
          </mat-form-field>
          <div>
            <p>Go to a different step to see the error state</p>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card>
</div>

