<div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 5%;">
  <mat-card fxFlex="80" style=" background-color: #1de9b6">
    <mat-horizontal-stepper #stepper>
      <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Remplissez les informations de la promo</ng-template>
<!--          <mat-form-field>-->
<!--&lt;!&ndash;            <mat-label></mat-label>&ndash;&gt;-->
<!--            <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>-->
          <div fxLayout="row" fxLayoutAlign="space-between start" >
            <div fxLayout="row" fxLayoutAlign="space-between start" style="border-right: solid 1px grey; width: 45% ; background-color: #63a4ff">
              <div style="width: 15px;">Choix du langage</div>
            </div>
            </div>




          <div>
            <p>Go to a different step to see the error state</p>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required.">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Fill out your address</ng-template>
          <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="secondCtrl"
                   required>
          </mat-form-field>
          <div>
            <p>Go to a different step to see the error state</p>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card>
</div>

