<div class="container" >
        <mat-card fxFlex="40" style="margin-top: 200px; margin-left: 300px; background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);">
          <mat-card-title > Ajouter un profile</mat-card-title>
          <form class="example-form">
            <mat-form-field class="example-full-width " style="margin-top: 20px; margin-left: 20px;">
              <input type="text"
                     placeholder="Décrire votre libelle"
                     aria-label="Number"
                     matInput
                     >
            </mat-form-field>
            <div class="example-button-row" style="margin-top: 20px;">
              <button mat-stroked-button color="primary" style="float: right;">Add profil</button>
              <button mat-stroked-button color="warn" style="float: right; ">Annuler</button>
            </div>
          </form>
        </mat-card>
</div>
