.title
{
 // background-color: #4285F4;
 // color: #e3eeff;
  text-align: center
}

:host ::ng-deep p {
  line-height: 1.5;
  margin: 0;
}
//.header,h3
//{
//  text-align: center;
//  margin-top: 20%;
//}
//.button {
//  margin-left: 18rem;
//  bottom: -3.5rem;
//}
