<div class="container">

 <form style="margin-left: 300px; padding-top: 100px;">
   <mat-card fxFlex="70" style=" background-color: #5ca0f2;
background-image: linear-gradient(315deg, #5ca0f2 0%, #f5f7f6 74%);">
    <mat-card-title style="text-align: center"> Ajouter un utilisateur</mat-card-title>
    <mat-card-header style="margin-bottom: 20px; margin-top: 20px;">
      <div class="circle circle-outer-border">
           <img mat-card-avatar>
       </div>
      <button type="button" mat-stroked-button color="primary" style="float: right; margin-left: 10px;">Ajouter un avatar</button>
        </mat-card-header>
  <hr>
     <div>
       <mat-form-field appearance="outline"  fxLayout="row" >
         <mat-label>Nom</mat-label>
         <input matInput placeholder="Nom">
       </mat-form-field>
       <mat-form-field appearance="outline"  fxFlex="column" style="margin-left: 10px;" >
         <mat-label>Prenom</mat-label>
         <input matInput placeholder="Nom">
       </mat-form-field>
     </div>
      <div>
        <mat-form-field appearance="outline" fxLayout="row">
          <mat-label>Username</mat-label>
          <input matInput placeholder="username" type="text">
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex = "column"  style="margin-left: 10px;" >
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" type="password">
        </mat-form-field>
      </div>
    <div>
      <mat-form-field appearance="outline"    fxLayout="row">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" type="email">
      </mat-form-field>
      <mat-form-field appearance="outline"  fxFlex="column" style="margin-left: 10px;">
        <mat-label>Adresse</mat-label>
        <input matInput placeholder="Email" type="text">
      </mat-form-field>

    </div>
     <div>
       <mat-form-field appearance="outline" fxFlex="column" style="margin-left: 10px;">
           <mat-label>Profile</mat-label>
          <select matNativeControl required>
            <option>Choisissez  le profile</option>
            <option value="volvo">Admin</option>
           <option value="saab">Formateur</option>
              <option value="mercedes">Cm</option>
             </select>
              </mat-form-field>
     </div>
     <div class="example-button-row">
        <button mat-stroked-button  color="primary" style="float: right;">Create User</button>
          <button mat-stroked-button color="warn" style="float:right; margin-right: 10px; "> Cancel</button>
        </div>

               </mat-card>
        </form>
             <!--  <form class="text-center  " style=" margin-top: 20px;">-->

<!--    <mat-card fxFlex="50" >-->
<!--      <mat-card-title style="text-align: center"> Ajouter un utilisateur</mat-card-title>-->
<!--&lt;!&ndash;      <mat-card class="mat-card mb-2 " matGridAvatar>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="circle circle-outer-border">&ndash;&gt;-->
<!--&lt;!&ndash;          <img mat-card-image>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="circle circle-fill">&ndash;&gt;-->

<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </mat-card>&ndash;&gt;-->
<!--      <mat-card-header style="margin-bottom: 20px; margin-top: 20px;">-->
<!--        <div class="circle circle-outer-border">-->
<!--                 <img mat-card-avatar>-->

<!--        </div>-->
<!--      </mat-card-header>-->
<!--     <button type="button" mat-stroked-button color="primary" style="float: right;">Ajouter un avatar</button>-->
<!--      <div class="form-control" >-->
<!--      <mat-form-field appearance="outline" fxLayout="row"  >-->
<!--        <mat-label>Nom</mat-label>-->
<!--        <input matInput placeholder="Nom">-->
<!--      </mat-form-field>-->
<!--      <mat-form-field appearance="outline"   fxFlex = "column" style="margin-left: 10px;">-->
<!--        <mat-label>Prenom</mat-label>-->
<!--        <input matInput placeholder="Prenom" type="text">-->
<!--      </mat-form-field>-->
<!--      </div>-->
<!--      <div class="form-control">-->
<!--        <mat-form-field appearance="outline"    fxLayout="row">-->
<!--          <mat-label>Username</mat-label>-->
<!--          <input matInput placeholder="username" type="text">-->
<!--        </mat-form-field>-->

<!--        <mat-form-field appearance="outline" fxFlex = "column"  style="margin-left: 10px;">-->
<!--          <mat-label>Password</mat-label>-->
<!--          <input matInput placeholder="Password" type="text">-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="form-control">-->
<!--        <mat-form-field appearance="outline"    fxFlex="row">-->
<!--          <mat-label>Email</mat-label>-->
<!--          <input matInput placeholder="Email" type="email">-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="form-control">-->
<!--        <mat-form-field appearance="outline"  fxLayout="row">-->
<!--          <mat-label>Adresse</mat-label>-->
<!--          <input matInput placeholder="Email" type="text">-->
<!--        </mat-form-field>-->
<!--        <mat-form-field appearance="outline" fxFlex="column" style="margin-left: 10px;">-->
<!--          <mat-label>Profile</mat-label>-->
<!--          <select matNativeControl required>-->
<!--            <option value="volvo">Admin</option>-->
<!--            <option value="saab">Formateur</option>-->
<!--            <option value="mercedes">Cm</option>-->
<!--          </select>-->
<!--        </mat-form-field>-->
<!--      </div>-->
<!--      <div class="example-button-row">-->
<!--      <button mat-stroked-button  color="primary" style="float: right;">Create User</button>-->
<!--        <button mat-stroked-button color="warn" style="float:right; margin-right: 10px; "> Cancel</button>-->
<!--      </div>-->
<!--    </mat-card>-->
<!--  </form>-->
</div>
