
<mat-toolbar  class="example-toolbar ml-5 ml-lg-0">


<div fxFill fxLayout="row" fxLayoutAlign="space-between center" >
  <div  class="row"  fxLayout="row" fxLayoutAlign="start center">
    <button mat-icon-button><img src="/assets/images/academy.png" alt="" style="width:40px;">
    </button>
      <div class="icon">
        <button mat-button mat-icon-button class="example-icon">
          <span fxLayout="column" class="brief"><mat-icon style="color: white;" class="assignment"> assignment</mat-icon>Brief</span>
        </button>
      </div>
        <div class="icon">
          <button  mat-icon-button class="example-icon"   aria-label="Example icon-button with assignment_returned"><span fxLayout="column" class="Rendus">
        <mat-icon style="color: white;" class="mat-icon7">assignment_returned</mat-icon>Rendus</span>
          </button>
        </div>
      <div class="icon1">
        <button mat-icon-button class="example-icon2"><span fxLayout="column" class="explorer">
        <mat-icon style="color: white;" class="mat-icon6">explore</mat-icon>Explorer</span>
        </button>
      </div>
    <div class="icon">
      <button mat-icon-button class="example-icon"><span fxLayout="column" class="forum">
        <mat-icon style="color: white;" class="mat-icon1">forum</mat-icon>Forum</span>
      </button>
    </div>
    <div class="icon1"  [matMenuTriggerFor]="parametreMenu" >
      <button mat-icon-button class="example-icon2"><span fxLayout="column" class="parametre">
        <mat-icon style="color: white;" class="mat-icon3">settings</mat-icon>Paramètre</span>
      </button>
      <mat-menu #parametreMenu="matMenu">
        <button mat-menu-item [routerLink]="['create_promo']">Promos</button>
        <button mat-menu-item [routerLink]="['referentiel_list']">Référentiel</button>
        <button mat-menu-item [routerLink]="['liste_groupe_competence']">Groupe de Compétences</button>
        <button mat-menu-item [routerLink]="['add_competence']">Compétences</button>
        <button mat-menu-item>Groupe de Tags</button>
        <button mat-menu-item [routerLink]="['liste_profile_sortie']">Profile de sortie</button>

      </mat-menu>

    </div>
    <div class="icon">
      <button mat-icon-button class="example-icon" mat-icon-button [matMenuTriggerFor]="userMenu"><span fxLayout="column" class="user">
        <mat-icon style="color: white;" class="mat-icon4">person</mat-icon>User</span>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item [routerLink]="['liste_user']">Utilisateur</button>
        <button mat-menu-item [routerLink]="['liste_profile']">Profile</button>
      </mat-menu>
    </div>
    <div class="icon1">
      <button mat-icon-button class="example-icon2"><span fxLayout="column" class="restore">
        <mat-icon style="color: white;" class="mat-icon5">restore</mat-icon>Historique </span>
      </button>
    </div>
  </div>
   <p-dropdown [options]="promos" [(ngModel)]="selectedPromos" optionLabel="libelle" style="margin-right: 15%;"></p-dropdown>
<!--  <mat-form-field>-->
<!--    <mat-select *ngFor="let promo of promos"  matInput>-->
<!--      <mat-option value="${{promo.libelle}}">{{promo.libelle}}</mat-option>-->
<!--    </mat-select>-->
<!--  </mat-form-field>-->

  <div>
    <button mat-icon-button style="margin-right: 15px; margin-top: 5px" matBadge="4"  matBadgeColor="warn" matBadgePosition="above">
      <mat-icon style="color:white">notifications_active</mat-icon>

    </button>
    <button mat-icon-button>
    <mat-icon style="color:white">account_circle</mat-icon>
    </button>
  </div>
</div>

</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>

  <mat-sidenav-content class="align ">
    <!--    <app-profiles></app-profiles>-->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>



